<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>scroolIt</name>
	<displayName><![CDATA[Scroll it]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Add a scrolling message]]></description>
	<author><![CDATA[Mohamed Habib ALOUI]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
